/* ##########################Header########################## */
.nsheader{
    background-color: #6a2b96;
    height: 30px;
    width: 100%;
    margin-top: 40px;

    display:inline-block;

}
.tabs
{

    display:inline-block;
    float: right;
    color: white;
    font-weight: 600;
    padding-left: 100px;
    padding-right: 100px;

    margin-top: 7px;
}
.logo{
    display:inline-block;
    color:whitesmoke;
    margin-top: 7px;
    margin-left: 50px;
    font-size: 20;
    font-weight: 1000;
}
/* ##########################Body########################## */
a{
    color: inherit;
    text-decoration: none;
}
.nsbody{
    background-color: #6a2b96;
    height: 520px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nsbodyleft{
    display:inline-block;
    height: 100%;              
}
.nsbodyleftquote{
    display:inline-block;
    background-color: white;
    margin-top: -20px;
    width: 350px;
    height: 60px;
    vertical-align: middle;
    margin-left: 100px;
    font-family:  "Comic Sans MS";
    font-size: 20PX;
    text-align: center;
    font-weight: 900;
    padding: 10px 10px 10px 10px;
}


/* ###############################TableSection################################### */

td{
    color: white;
}
table{
    border-collapse:separate;
    border-spacing:10px 15px;
}



/* ##########################loginpart########################## */
.nsbodyright{
    display:inline-block;
    width: 400px;
    float: right;
    background-color: white;
    height: 100%;
    color: black;
}
.fontblack{
    color: black;
}
.nslogintable
{
    margin: 150px 0px 150px 80px;
}
.nsloginhead 
{
    font-weight: bold;
    font-size: 35px;
}

.nsfontsmaller
{
    font-size: 15px;
}
.nsloginlabel
{
    font-weight: bold;
}

/* ##########################loginpart########################## */


/* ########################## BUTTONS ########################## */

.nsbtn
{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    border: 0;
    width: 80px;
    height: 25px;
    background-color: #4a1e69;
    color: white;
}
.nshandlerbtn{
    float: right;
}

/* ##########################footer########################## */
.nsfooter
{
    height: 40px;
}

